
body{
    background-image: linear-gradient(120deg,rgb(106, 233, 233),rgb(255, 255, 169));
    text-align: center;
    align-content: center;
}
.title{
    font-size: 60px;
    font-family: fantasy;
    padding: 40px;
}
.subtitle{
    font-size:30px;
    font-weight: 500;
    font-family: fantasy;
}
.card{
    background-color:whitesmoke;
   border-radius: 25px;
   padding: 1px;
   margin-top: 20px;
   box-shadow: 3px 3px 2px black;
}
.ingredients{
    background-color:whitesmoke;
    border-radius: 25px;
    padding: 1px;
    margin-top: 20px;
    box-shadow: 3px 3px 2px black;
    text-align:left;
    width: 30%;
    margin-left: 35%;
}
.ingred{
    text-align: center;
    font-size: x-large;
}
.steps{
    background-color:whitesmoke;
    border-radius: 25px;
    padding: 1px;
    margin-top: 20px;
    box-shadow: 3px 3px 2px black; 
    text-align: left;
    font-size: 20px;
}

.links{
    font-family: fantasy;
    font-size: 20px;
    list-style: none;
    
}
img{
    border-radius: 25px;
    border-style: solid;
}
